body {
    text-align: center;
}
@font-face {
    font-family: 'Nicomoji Plus';
    src: url('font/nicomoji-plus_v2.ttf');
}

* {
    padding: 0;
    margin: 0;
    font-size: 20px; /* すべての文字のサイズを大きくする */
}

body, html {
    height: 100%;
}

.video-background {
    position: fixed;
    z-index: -2;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}

.image-container {
    width: 80%;
    margin: 0 auto;
    display: inline-block;
}

.grid {
    margin: -5px auto 0 auto;
    display: grid;
    grid-template-columns: 2fr 4fr; /* 1列目は2倍、2列目は4倍の幅 */
    grid-template-rows: 1.4fr 1.2fr 1.2fr 1.2fr 1.2fr 1.4fr 2.5fr; /* 各行の高さを1.2倍に調整 */
    gap: 2px;
    
    border: 2px solid cyan;
    width: 50%;
    height: 50%;
    color: white; /* 文字色を白に */
    font-family: 'Nicomoji Plus'; /* フォントを変更 */
    background-color: rgba(0, 0, 0, 0.5); /* 黒の半透明の背景 */
}

.grid div {
    border: 1px solid cyan;
    padding: 10px;
    display: flex; /* 文字を中央揃えにするための設定 */
    align-items: center; /* 縦方向中央揃え */
    justify-content: center; /* 横方向中央揃え */
    flex-direction: column; /* 子要素を垂直方向に配置 */
    font-size: 1.4em;
}

.grid .first-row {
    grid-column-start: 1;
    grid-column-end: 3; /* 1行目を結合 */
}

body {
    margin-top: 20px;
}

.image-container img {
    width: 50%;
    height: auto;
}

.first-row {
    display: flex;
    align-items: center;
}

.first-row span {
    font-size: 1.1em;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #00FFFF; /* Cyan color for cyber feel */
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #FFFFFF; /* White border */
    color: #FFFFFF; /* White text */
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s; /* Transition effect for hover */
    text-decoration: none; /* Removing default underline of <a> tag */
    z-index: 100; /* To make sure the button is on top of other elements */
}

.back-button:hover {
    background-color: #FFFFFF; /* White background on hover */
    color: #00FFFF; /* Cyan text on hover */
}

.back-button {
    padding: 15px 30px;
    font-size: 1.5em; /* Increasing the font size */
}

.minae-logo {
    position: fixed;
    top: 100px;
    left: 1px;
    width: 300px;
    z-index: 100; /* To make sure the logo is on top of other elements */
}

.twitter-logo-link {
    margin-bottom: 50px;
}
