@font-face {
  font-family: "ニコモジ＋v2";
  src: url("font/nicomoji-plus_v2.ttf") format("truetype");
}

body {
  overflow-x: hidden;
  overflow-y: scroll; /* 縦方向のスクロールを有効にする */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0vh;
  margin: 0;
  font-family: "ニコモジ＋v2", sans-serif;
}

#bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

#titleImage {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 220px;
  height: auto;
  z-index: 2;
}

#navigationMenu {
  position: fixed;
  top: 10px;
  right: 6px;
  z-index: 3;
}

#navigationMenu li {
  margin-bottom: 10px;
  position: relative;
}

#navigationMenu li a {
  display: block;
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: text-shadow 0.3s ease;
}

#navigationMenu li:hover a {
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
}

#navigationMenu li img {
  position: relative;
  z-index: 3;
  width: 250px;
  height: auto;
}

#newsTicker {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  width: 40%;
  height: 60px;
  overflow: hidden;
  border: 2px solid #00ff00;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 0 0 10px #00ff00;
}

#newsTicker .tickerText {
  position: relative;
  top: 18%;
  white-space: nowrap;
  animation: tickerAnimation 20s linear infinite;
  text-align: center;
}

#newsTicker .tickerText span {
  padding: 5px;
  display: inline-block;
  color: white;
  font-size: 28px;
}

@keyframes tickerAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-250%);
  }
}

#socialIcons {
  position: fixed;
  top: 220px; /* 任意のピクセル値に変更 */
  left: 60px;
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#socialIcons img {
  width: 50px;
  height: auto;
  margin-bottom: 50px;
  margin-right: 5px;
}

#socialIcons img:hover {
  animation: electricFlow 0.8s linear infinite;
}

.container {
  border: solid blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  margin-top: 1700px; /* コンテナの上部にマージンを追加 */
}

.img {
  background-color: blue;
  margin: 5px;
  padding: 5px;
  /* 画像のサイズやその他のスタイルを追加する場合 */
}

.img img {
  width: 140px;
  height: 140px;
}
